* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 180px 1fr 1fr;
}

.header {
    grid-column: 2 / 4;
    padding: 16px 32px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}
pre {
    font-size: 1.25rem;
    font-weight: 600;
}
.welcome {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.checker {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-column: 1 / 3;
    margin: 0 36px;
}

.nav_buttons button {
    width: 124px;
    height: 36px;
    border-radius: 18px;
    color: white;
    background: blue;
    border: none;
    margin: 0 12px;
}
.welcome img {
    width: 40px;
    height: 40px;
}
.search_form {
    display: grid;
    align-items: center;
    grid-template-columns: 36px 1fr;
    gap: 12px;
}
.owner {
    display: grid;
    grid-template-columns: 36px 36px 200px;
    align-items: center;
    gap: 36px;
    margin-left: 50%;
}
.owner img {
    width: 36px;
    height: 36px;
}
.owner p {
    font-size: 1.5rem;
    font-weight: 700;
}

.search_bar {
    width: 100%;
    height: 36px;
    border: none;
    background-color: #daeff0;
    border-radius: 25px;
}

.sidebar {
    grid-row: 1 / 4;
    background: #1e90ff;
    color: #fff;
    font-weight: 700;
}

.main {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: #daeff0;
}

.logo {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 12px;
    padding: 16px 24px;
    font-size: 1.75rem;
}

.logo p {
    align-content: center;
}

.logo img {
    grid-column: 1 / 2;
}

.sidebar img {
    filter: invert(100%);
    margin: 0 12px;
    width: 32px;
    height: 32px;
}
.sidebar ul {
    margin: 48px 0;
}

.sidebar ul li {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 36px 36px 1fr;
    align-items: center;
    gap: 32px;
    padding: 16px 24px;
}
